pandas
numpy
scikit-learn
xgboost
shap
streamlit
matplotlib
seaborn
imbalanced-learn
plotly
joblib
pandas
numpy
scikit-learn
xgboost
shap
streamlit
matplotlib
seaborn
imbalanced-learn
plotly
joblib
langchain
langchain-groq
langchain-community
langchain-core
langchain-text-splitters
chromadb==0.4.24
langchain-huggingface
langgraph
chromadb
sentence-transformers
fastapi
uvicorn
python-dotenv
pypdf
groq
protobuf==3.20.3
PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION=python